<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        verbose="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="true">
    <testsuites>
        <testsuite name="filehosting">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>