{% extends "base.twig" %}
{% block title %} {{ statusCode }} {% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <h1 class="mt-5 text-center">{{ statusCode }}</h1>
    <h4 class="mt-2 text-center">{{ message }}</h4>
{% endblock %}