{% extends "base.twig" %}
{% block title %} {{ statusCode }} {% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <h1>{{ statusCode }}</h1>
    <span>{{ message }}</span>
{% endblock %}