<footer class="footer border-top">
    <div class="container text-center">
        <span class="text-muted"> {{ "now"|date("Y") }}
            <a href='https://github.com/moabit/filehosting'>Гитхаб</a> </span>
    </div>
</footer>