<nav class="navbar navbar-light bg-light border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" href="/">👻</a><br>
        <span class=""> Простой файлообменник </span>
        <ul class="navbar-nav mr-auto ml-5">
            <li class="nav-item">
                <a class="nav-link" href="#">Топ Файлов</a>
            </li>
        </ul>
        <form action="" method="GET" class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Имя файла" aria-label="Поиск">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Искать</button>
        </form>
    </div>
</nav>