<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Супер хостинг файлов</title>
</head>
<body>
<ul>
    {% for file in files %}
    <li>{{ file.safe_name }}</li>
    {% endfor %}
{{ files.render }}
</ul>
</body>
</html>