<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Супер хостинг файлов</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="file" name="userFile">
        <input type="hidden" name="{{csrfNameKey  }}" value="{{ csrfName }}">
        <input type="hidden" name="{{ csrfValueKey }}" value="{{ csrfValue }}"><br>
        <input type="submit" value="Загрузить"/>
    </form>
    <pre>
        <img src="../../storage/17-Feb-2018/15066421821573s.jpg">
    </pre>
</body>
</html>